<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>admin</username>
            <password>eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJJVFdmWEppbzRtd3dUM1dSbW9Bclo2LVVXVm9KQ3hmZWdhR00wazEtaDdjIn0.eyJleHQiOiJ7XCJyZXZvY2FibGVcIjpcInRydWVcIn0iLCJzdWIiOiJqZmFjQDAxZ3NmY2RhY25jcTkxMXlodHR0YjUweTNzXC91c2Vyc1wvYWRtaW4iLCJzY3AiOiJhcHBsaWVkLXBlcm1pc3Npb25zXC9hZG1pbiIsImF1ZCI6IipAKiIsImlzcyI6ImpmZmVAMDAwIiwiaWF0IjoxNjgwMTY0Nzg2LCJqdGkiOiIwN2Y0ZDUzMC05YjRhLTQwNjAtYjZkMy0zYjZkN2EzNTZiNzIifQ.tHNoEN_wBQR9KTA-o1GWdQmliWTVRKsRMfgXLRlHbovkHLyW6z2Lvluaeru2OQOVJluDIbrt8nZ-HWvZeTJa23iMBaF0G3fvhoL84ZgJiDXf6AY9jS5zZfXbNi0DyibvdUo53VKEkxTiTAYVtTD8CyXbdYNxicdGRTmgonO-smMAKZUPE4OJSNwyfh9ZqeNnVkpg7FsWHVrrbnNZzULp3jQZGHfgGppTaRGnYsLd18x-YmPr90CfeXEBzkWmtI__mpe1OVKlaYXavJZ06hv5PdmSqz4VNCdQRUc5Kgh1_gbQy2ZCa1RdlsBEn3WO2Xo3Ai5j2E3BKI67y2mmZj9Svg</password>
      <id>artifactoryReleases</id>
    </server>
    <server>
      <username>admin</username>
            <password>eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJJVFdmWEppbzRtd3dUM1dSbW9Bclo2LVVXVm9KQ3hmZWdhR00wazEtaDdjIn0.eyJleHQiOiJ7XCJyZXZvY2FibGVcIjpcInRydWVcIn0iLCJzdWIiOiJqZmFjQDAxZ3NmY2RhY25jcTkxMXlodHR0YjUweTNzXC91c2Vyc1wvYWRtaW4iLCJzY3AiOiJhcHBsaWVkLXBlcm1pc3Npb25zXC9hZG1pbiIsImF1ZCI6IipAKiIsImlzcyI6ImpmZmVAMDAwIiwiaWF0IjoxNjgwMTY0Nzg2LCJqdGkiOiIwN2Y0ZDUzMC05YjRhLTQwNjAtYjZkMy0zYjZkN2EzNTZiNzIifQ.tHNoEN_wBQR9KTA-o1GWdQmliWTVRKsRMfgXLRlHbovkHLyW6z2Lvluaeru2OQOVJluDIbrt8nZ-HWvZeTJa23iMBaF0G3fvhoL84ZgJiDXf6AY9jS5zZfXbNi0DyibvdUo53VKEkxTiTAYVtTD8CyXbdYNxicdGRTmgonO-smMAKZUPE4OJSNwyfh9ZqeNnVkpg7FsWHVrrbnNZzULp3jQZGHfgGppTaRGnYsLd18x-YmPr90CfeXEBzkWmtI__mpe1OVKlaYXavJZ06hv5PdmSqz4VNCdQRUc5Kgh1_gbQy2ZCa1RdlsBEn3WO2Xo3Ai5j2E3BKI67y2mmZj9Svg</password>
      <id>artifactorySnapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>artifactoryReleases</id>
          <name>libs-release</name>
          <url>http://vmpx06.polytech.unice.fr:8002/artifactory/libs-release</url>
        </repository>
        <repository>
          <snapshots />
          <id>artifactorySnapshots</id>
          <name>libs-snapshot</name>
          <url>http://vmpx06.polytech.unice.fr:8002/artifactory/libs-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>artifactoryReleases</id>
          <name>libs-release</name>
          <url>http://vmpx06.polytech.unice.fr:8002/artifactory/libs-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>artifactorySnapshots</id>
          <name>libs-snapshot</name>
          <url>http://vmpx06.polytech.unice.fr:8002/artifactory/libs-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>